@{
  Layout = "_Layout";
}
<h1>Eau Claire's Salon Admin Panel</h1>
<div class="container-home-index">

@Html.ActionLink("See All Stylists", "Index", "Stylists", null, new { @class = "link"})
<br/>
@Html.ActionLink("Add new Client", "Create", "Clients", null, new { @class = "link"})
</div>
