@{
  Layout = "_Layout";
}
<h1>Eau Claire's Salon Admin Panel</h1>
<div class="container-home-index">

@Html.ActionLink("see all stylists", "Index", "Stylists", null, new { @class = "link"})
<br/>
@Html.ActionLink("add new client", "Create", "Clients", null, new { @class = "link"})
</div>
